@import "tailwindcss";

@theme {
  --color-main: #F280BF;
  --color-sub: #F2B3DC;
  --color-accent: #BCF2BB;
  --color-bg-main: #BFBFBF;
  --color-bg-sub: #D3F2CE;
  --color-text-primary: #333333;
  --color-text-secondary: #666666;

  --font-sans: var(--font-m-plus-2), "Noto Sans JP", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-sans);
}

@utility hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

@keyframes scroll-down {
  0% { transform: translateY(0); opacity: 0.3; }
  50% { transform: translateY(10px); opacity: 1; }
  100% { transform: translateY(0); opacity: 0.3; }
}

.animate-scroll-down {
  animation: scroll-down 2s infinite ease-in-out;
}